:root {
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Styles */
html {
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  background-color: var(--color-grey-900);
}

body {
  font-size: 0.875rem; /* 14px if default is 16px, use rem for accessibility */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.main-content {
  text-align: center;
  background-color: var(--color-grey-800);
  padding: 38px;
  width: 365px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;

}

section{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.location-description{
    color: var(--color-green);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.35px;
}

img{
    width: 29%;
    border-radius: 50%;
}

h1{
    font-size: 1.45rem;
    font-weight: 400;
    padding-bottom: 9px;
}

.profile-information{
    padding-bottom: 2.5px;
}

section > p{
    font-weight: 400;
    font-size: 0.83rem;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
  text-decoration: none;
  list-style-type: none;
  background-color: var(--color-grey-700);
  border-radius: 7px;
  font-weight: 600;
  padding: 14px 13px;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
}
