:root {
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default Styles */
html {
  font-family: "Inter", sans-serif;
  color: var(--color-white);
  background-color: var(--color-grey-900);
}

body {
  font-size: 0.875rem; /* 14px if default is 16px, use rem for accessibility */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-content {
  text-align: center;
  background-color: var(--color-grey-800);
  padding: 38px;
  width: 365px;
  height: 580px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.location-description {
  color: var(--color-green);
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

img {
  width: 29%;
  border-radius: 50%;
}

h1 {
  font-size: 1.42rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.profile-information {
  padding-bottom: 3px;
}

section > p {
  font-weight: 400;
  font-size: 0.84rem;
  opacity: 0.8;
}

nav {
  padding-top: 15px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  list-style-type: none;

  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
}

a {
  background-color: var(--color-grey-700);
  text-decoration: none;
  color: var(--color-white);
  display: block;
  padding: 14px 13px;
  border-radius: 7px;
}

/* Hover States */
a:hover,
a:focus-visible {
  background-color: var(--color-green);
  cursor: pointer;
  color: var(--color-grey-800);
}

/* For devices smaller than 600px */
@media only screen and (max-width: 600px) {
  .main-content {
    width: 325px;
    padding: 25px;
    justify-content: space-between;
  }

  img {
    width: 32%;
  }

  li {
    font-size: 0.85rem;
  }

  h1 {
    padding-top: 5px;
    font-size: 1.5rem;
  }
}
